@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?792yvx');
  src:  url('fonts/icons.eot?792yvx#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?792yvx') format('truetype'),
    url('fonts/icons.woff?792yvx') format('woff'),
    url('fonts/icons.svg?792yvx#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zoomin:before {
  content: "\e903";
}
.icon-eye:before {
  content: "\ecab";
}
.icon-checkmark3:before {
  content: "\ed6e";
}
.icon-move-vertical-alt2:before {
  content: "\e615";
}
.icon-search:before {
  content: "\eb2d";
}
.icon-more:before {
  content: "\ec59";
}
.icon-heart4:before {
  content: "\ece7";
}
.icon-plus:before {
  content: "\ed5a";
}
.icon-loop3:before {
  content: "\eda7";
}
.icon-arrow-up8:before {
  content: "\edd9";
}
.icon-arrow-down8:before {
  content: "\eddd";
}
.icon-images:before {
  content: "\e60e";
}
.icon-redo:before {
  content: "\e610";
}
.icon-lock:before {
  content: "\e611";
}
.icon-cog:before {
  content: "\e613";
}
.icon-stats:before {
  content: "\e60f";
}
.icon-stairs-up:before {
  content: "\e612";
}
.icon-import:before {
  content: "\e614";
}
.icon-arrow-right8:before {
  content: "\e606";
}
.icon-arrow-left8:before {
  content: "\e605";
}
.icon-arrow-up15:before {
  content: "\e60b";
}
.icon-arrow-right15:before {
  content: "\e60c";
}
.icon-arrow-down15:before {
  content: "\e60d";
}
.icon-arrow-left15:before {
  content: "\e604";
}
.icon-sort-amount-desc:before {
  content: "\e607";
}
.icon-twitter:before {
  content: "\e609";
}
.icon-github:before {
  content: "\e60a";
}
.icon-floppy-disk:before {
  content: "\ea86";
}
.icon-hanger:before {
  content: "\eb12";
}
.icon-loop-alt3:before {
  content: "\e616";
}
.icon-checkbox-unchecked:before {
  content: "\e603";
}
.icon-table:before {
  content: "\e602";
}
.icon-checkbox-checked:before {
  content: "\e601";
}
.icon-grid:before {
  content: "\e600";
}
.icon-more:before {
  content: "\ec59";
}
.icon-heart4:before {
  content: "\ece7";
}
.icon-plus:before {
  content: "\ed5a";
}
.icon-loop3:before {
  content: "\eda7";
}
.icon-arrow-up8:before {
  content: "\edd9";
}
.icon-arrow-down8:before {
  content: "\eddd";
}
.icon-images:before {
  content: "\e60e";
}
.icon-redo:before {
  content: "\e610";
}
.icon-lock:before {
  content: "\e611";
}
.icon-cog:before {
  content: "\e613";
}
.icon-stats:before {
  content: "\e60f";
}
.icon-stairs-up:before {
  content: "\e612";
}
.icon-import:before {
  content: "\e614";
}
.icon-arrow-right8:before {
  content: "\e606";
}
.icon-arrow-left8:before {
  content: "\e605";
}
.icon-arrow-up15:before {
  content: "\e60b";
}
.icon-arrow-right15:before {
  content: "\e60c";
}
.icon-arrow-down15:before {
  content: "\e60d";
}
.icon-arrow-left15:before {
  content: "\e604";
}
.icon-sort-amount-desc:before {
  content: "\e607";
}
.icon-twitter:before {
  content: "\e609";
}
.icon-github:before {
  content: "\e60a";
}
.icon-floppy-disk:before {
  content: "\ea86";
}
.icon-hanger:before {
  content: "\eb12";
}
.icon-loop-alt3:before {
  content: "\e616";
}
.icon-qq:before {
  content: "\e902";
}
.icon-tencent-weibo:before {
  content: "\e900";
}
.icon-wechat:before {
  content: "\e901";
}
.icon-weibo:before {
  content: "\e608";
}

