<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<base target="_self"/>
	<meta name="Robots" content="all"/>
	<meta name="keywords" content="是谁呼叫舰队,呼叫舰队,谁在呼叫舰队,是谁在呼叫舰队,舰娘,舰C,舰COLLE,舰队收藏"/>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<meta name="HandheldFriendly" content="true"/>
    <meta name="mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta charset="UTF-8"/>
	
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
	<link rel="icon" href="/favicon.png" sizes="16x16 32x32 64x64 128x128" type="image/png"/>
	<link rel="apple-touch-icon" href="/favicon.png"/>
	<link rel="manifest" href="/manifest.json?20160101"/>
	
	<script type="text/javascript" src="/!/assets/libs.min.js?20201114"></script>
	<script type="text/javascript" src="/!/assets/js.min.js?20201114"></script>
	
	<link rel="stylesheet" type="text/css" href="/!/assets/css.min.css?20201114"/>
</head>



<body>

<div id="layout">
	<input type="checkbox" id="view-mobile-menu"/>
	<nav>{{ navContent }}</nav>
	<main>{{ mainContent }}</main>
</div>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-63582858-3', 'auto');
ga('send', 'pageview');
</script>

</body>
</html>
