<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<base target="_self" />
	<meta name="Robots" content="all"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="HandheldFriendly" content="true" />
	<meta charset="UTF-8" />
	<script type="text/javascript" src="/!/assets/libs.js"></script>
	<script type="text/javascript" src="/!/assets/js.js"></script>
	<link rel="stylesheet" type="text/css" href="/!/assets/css.css" />
</head>



<body>

<div id="layout">
	<nav>{{ navContent }}</nav>
	<main>{{ mainContent }}</main>
</div>

</body>
</html>
