<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
    <meta http-equiv="refresh" content="0; url=http://fleet.moe/{{ url }}">
    <link rel="canonical" href="http://fleet.moe/{{ url }}" />

	<base target="_self"/>
	<meta name="Robots" content="all"/>
	<meta name="keywords" content="是谁呼叫舰队,呼叫舰队,谁在呼叫舰队,是谁在呼叫舰队,舰娘,舰C,舰COLLE,舰队收藏"/>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<meta name="HandheldFriendly" content="true"/>
    <meta name="mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta charset="UTF-8"/>
	
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
	<link rel="icon" href="/favicon.png" sizes="16x16 32x32 64x64 128x128" type="image/png"/>
	<link rel="apple-touch-icon" href="/favicon.png"/>
	<link rel="manifest" href="/manifest.json?20160101"/>
</head>

<body>

<p style="text-align:center">本站已启用新域名 <strong>fleet.moe</strong></p>

</body>
</html>
