
@font-face {
	font-family:'icons';
	src:		url(~'/!/assets/fonts/icons.ttf') format('truetype');
	font-weight:normal;
	font-style: normal;
}

//@font_famliy_Song:	Baskerville, "Times New Roman", "Liberation Serif", "FZDaBiaoSong-b06regular", "MS PMincho", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, "KaiTi_GB2312", "TW\-Kai", serif;
@font_famliy_Hei:	"Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, @fontbase_hei, "Meiryo" ,sans-serif;
@font_famliy_Song: 	@font_famliy_Hei;