// Icons
	[icon="close"]:before				{content: "×" !important; font-family: 'Gothic' !important; font-weight: lighter !important}
	[icon="grid"]:before				{content: "\e600" !important;}
	[icon="table"]:before				{content: "\e602" !important;}
	[icon="checkbox-checked"]:before	{content: "\e601" !important;}
	[icon="checkbox-uncheck"]:before	{content: "\e603" !important;}
	[icon="arrow-up"]:before			{content: "\e604" !important;}
	[icon="arrow-down"]:before			{content: "\e605" !important;}
