@main_border_color:	#cfa20a;

@readyanimation_boatmove_duration:	1s;
@readyanimation_mainswipe_duration:	.35s;
@transition_duration_main:	.75s;

@loading-bar-width: 10%;


.text-stroke-shadow(@color: #333){
	text-shadow:	unit( (-2 * @base_multiper),rem) unit( (-2 * @base_multiper),rem) unit( (0.5 * @base_multiper),rem) @color,
					unit( (-2 * @base_multiper),rem) unit( (0 * @base_multiper),rem) unit( (1 * @base_multiper),rem) @color,
					unit( (-2 * @base_multiper),rem) unit( (2 * @base_multiper),rem) unit( (0.5 * @base_multiper),rem) @color,
					unit( (0 * @base_multiper),rem) unit( (-2 * @base_multiper),rem) unit( (1 * @base_multiper),rem) @color,
					unit( (0 * @base_multiper),rem) unit( (0 * @base_multiper),rem) unit( (1.5 * @base_multiper),rem) @color,
					unit( (0 * @base_multiper),rem) unit( (2 * @base_multiper),rem) unit( (1 * @base_multiper),rem) @color,
					unit( (2 * @base_multiper),rem) unit( (-2 * @base_multiper),rem) unit( (0.5 * @base_multiper),rem) @color,
					unit( (2 * @base_multiper),rem) unit( (0 * @base_multiper),rem) unit( (1 * @base_multiper),rem) @color,
					unit( (2 * @base_multiper),rem) unit( (2 * @base_multiper),rem) unit( (0.5 * @base_multiper),rem) @color
}



// Scrollbar
	::-webkit-scrollbar{
		.width(@scrollbar_width);
	}
	::-webkit-scrollbar-button{
		display:	none;
	}
	::-webkit-scrollbar-track{
		//background:	rgba(0, 0, 0, .5);
		//@scrollbar-track-mask-image:	~"url(data:image/gif;base64,R0lGODlhAQABAPAAAAAAAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==)";
		//@scrollbar-track-mask-image:	linear-gradient(to bottom, #000, #000);
		//@scrollbar-track-mask-size:		~"2px calc(100% - 4px)";
		//@scrollbar-track-mask-position:	50% 50%;
		//.mask-image(~"@{scrollbar-track-mask-image}");
		//.mask-size(~"@{scrollbar-track-mask-size}");
		//.mask-position(~"@{scrollbar-track-mask-position}");
		//.mask-repeat(no-repeat);
		@scrollbar-track-background:	linear-gradient(
											to right,
											transparent 3px,
											rgba(0, 0, 0, .225) 3px,
											rgba(0, 0, 0, .225) ~"calc(100% - 3px)",
											transparent ~"calc(100% - 3px)"
										);
		background:		@scrollbar-track-background;
		border-radius:	32px;
		overflow:		hidden;
		&:hover{
			@scrollbar-track-background-hover:	linear-gradient(
													to right,
													transparent 2px,
													rgba(0, 0, 0, .375) 2px,
													rgba(0, 0, 0, .375) ~"calc(100% - 2px)",
													transparent ~"calc(100% - 2px)"
												);
			background:		@scrollbar-track-background-hover;
		}
	}
	::-webkit-scrollbar-thumb{
		//background:	#fff;
		@scrollbar-thumb-background:	linear-gradient(
											to right,
											transparent 2px,
											rgba(255, 255, 255, .425) 2px,
											rgba(255, 255, 255, .425) ~"calc(100% - 2px)",
											transparent ~"calc(100% - 2px)"
										);
		background:		@scrollbar-thumb-background;
		border-radius:	32px;
		overflow:		hidden;
		&:hover{
			@scrollbar-thumb-background:	linear-gradient(
												to right,
												transparent 2px,
												rgba(255, 255, 255, .625) 2px,
												rgba(255, 255, 255, .625) ~"calc(100% - 2px)",
												transparent ~"calc(100% - 2px)"
											);
			background:		@scrollbar-thumb-background;
		}
	}





html, body{
	height:		100%;
	overflow:	hidden;
}
body{
	font-size: 	14px;
	font-family:@font_family_sans;
}

button, input, textarea, select{
	&:focus, &:active{
		outline:	0;
	}
}

// Title / Headers
h1, h2, h3, h4, h5, h6{
	font-family:@font_famliy_Song;
	line-height:1.2em;
	position:	relative;
	color: 		hsl(46, 25%, 85%);
	small{
		font-size:	small;
		opacity:	.75;
		padding-left:1em;
	}
	&[data-content]:before{
		color: 		hsl(46, 33%, 32%);
		content:	attr(data-content);
		display:	block;
		font:		inherit;
		position:	absolute;
		top:		0;
		left:		0;
		z-index:	1;
		text-shadow:0 0 1px #000;
		.mask-image( ~"linear-gradient(to bottom, transparent, #000)" );
	}
}
h2{
	.font-size(36);
}
h3{
	.font-size(24);
}
h4{
	.font-size(18);
	font-weight:	normal;
}
h5{
	.font-size(14);
	font-weight:	normal;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 		0;
}

a{
	color: 			inherit;
	text-decoration:none;
}













#layout{
	.padding-top(@nav_height);
	height:		100%;

	&[data-errorbadge],
	&[data-msgbadge]{
		&:after{
			position:	absolute;
			z-index:	10;
			top:		0;
			left:		50%;
			padding:	.65em 1em;
			color:		#fff;
			font-size: 	14px;
			.user-select(none);
			pointer-events:	none;
			transform: 	translateX(-50%);
			.fadein();
		}
	}

	&[data-errorbadge]{
		&:after{
			content:	attr(data-errorbadge);
			background:	hsla(0, 100%, 50%, .575);
		}
	}

	&[data-msgbadge]{
		&:after{
			content:	attr(data-msgbadge);
			background:	hsla(200, 100%, 50%, .575);
		}
	}
}
.layout-indev();

html.ready{
	nav, main{
		.transition-duration(@transition_duration_main);
	}
}






















nav{
	display:	block;
	position:	absolute;
	.top( 0 - @nav_height );
	left:		0;
	.height(@nav_height);
	width:		100%;
	z-index:	4;
	.transition-property(top);
	//background:	#000;
	background:	rgba(0, 0, 0, .5);
	.user-select(none);
	.window-noframe({
		-webkit-app-region:	drag;
	});
	&:before,
	&:after{
		content: 	'';
		position: 	absolute;
		bottom:		0;
	}
	&:before{
		z-index: 	5;
		left: 		(0 - @loading-bar-width);
		width: 		@loading-bar-width;
		height: 	4px;
		opacity: 	0;
		background: rgba(255, 255, 255, .5);
		.enable-transition();
		.transition-property(opacity);
	}
	&:after{
		z-index:	4;
		left:		0;
		width:		100%;
		.height(1);
		background:	fade(#e5e5e5, 25%);
		.enable-transition();
		.transition-property(height);
	}
	&>.logo{
		position:	fixed;
		overflow:	hidden;
		top:		0;
		left:		0;
		width:		100%;
		height:		100%;
		pointer-events: none;
		-webkit-app-region:	no-drag;
		&:before{
			content:	"";
			position:	absolute;
			.animation(~"layout-loading-logo 1.2s ease-out infinite alternate");
			top:		0;
			left:		0;
			width:		100%;
			height:		100%;
			background:	~"url(@{folder_images}/boat.png) no-repeat 50% 50%";
		}
	}
	// buttons group
	&>div{
		z-index:	4;
		position:	absolute;
		height:		100%;
		//.padding(0, (@nav_height - 10));
		-webkit-app-region:	no-drag;
		display:	block;
		.margin-left(@nav_height - 10);
		.padding(0, 10);
		top:		0;
		left:		0;
		max-width:	~"calc(100% - @{nav_height}px - 10px)";
		.transition-property(~"transform, top, opacity");
		.transition-timing-function(~"cubic-bezier(0.175, 0.885, 0.320, 1.275)");
		.transition-duration(.3s)!important;
			/*
		@media all and (min-width: 1920px ){
			margin-left:	~"calc((100% - 1920px) / 2 + @{nav_height}px - 10px)";
		}
			*/
		@media all and (max-width: 1152px ){
			.margin-left(@nav_height - 10 - 20);
		}
		@media all and (max-width: 960px ){
			.margin-left(@nav_height - 10 - 40);
		}
		@media all and (max-width: 800px ){
			.margin-left(@nav_height - 10 - 55);
		}
		.button{
			.line-height(@nav_height);
			.font-size(24);
			font-weight:lighter;
			color:		rgba(255,255,255,.5);
			.padding(0, 10);
			position:	relative;
			top:		0;
			position:	relative;
			//.transition-property(~"text-shadow, color, top, opacity");
			.transition-property(~"text-shadow, color, opacity, margin, font-size");
			.transition-duration((@transition_duration * 1.5));
			&.on{
				color:		#fff;
				text-shadow:0 0 10px #fff
							,0 0 10px rgba(255,255,255,.25);
				cursor: 	default;
			}
			&:hover{
				color:		#fff;
			}
			&:first-child{
				padding-left:	0;
			}
			&:active{
				top:		1px;
				//color:		rgba(255,255,255,.35) !important;
			}
			//&:active, &:focus{
			//	outline:	0;
			//}
			&+.button{
				margin-left:	unit( 30 / 24, em );
				@media all and (max-width: 800px ){
					margin-left:	unit( 16 / 24, em );
				}
				@media all and (max-width: 700px ){
					margin-left:	unit( 4 / 24, em );
				}
			}
			/*
			.delays(@n, @i: 1) when (@i =< @n) {
				&:nth-of-type(@{i}){
					@delay:		(@transition_duration + (@i - 1) * 0.1s);
					.transition-delay(~"0, 0, @{delay}");
				}
				.delays(@n, (@i + 1))
			}
			.delays(10);
			*/
			&[icon]{
				.padding-left(46);
				&:before{
					position:	absolute;
					.width(32);
					text-align:	center;
					.left(10);
					.font-size(32);
				}
				&:first-child{
					.padding-left(36);
					&:before{
						left:	0;
					}
				}
			}
			&[mod-state]{
				&:after{
					font-size: 	9px;
					content: 	attr(mod-state);
					position: 	absolute;
					top: 		50%;
					left: 		0;
					transform: 	translateY(-28px);
					line-height:12px;
					padding: 	0 3px;
					border-radius:2px;
					background: rgba(255, 255, 255, .45);
					color: 		#000;
				}
			}
		}
		&.history{
			.layout-nav-history();
		}
		&.selection-info{
			opacity: 	0;
			z-index: 	3;
			transform: 	translateX(@left-nav-pages-history-on);
			.line-height(@nav_height);
			.font-size(24);
			font-weight:lighter;
			color:		rgba(255,255,255,.5);
			display: 	block !important;
			.transition-timing-function(ease-out);
		}
	} // &>div
	&>s{
		display:	block;
		position:	absolute;
		z-index:	2;
		width:		100%;
		height:		100%;
		top:		0;
		left:		0;
		background:	~"no-repeat 50% 38.2% / cover";
		background-attachment:	fixed;
		//opacity:	.5;
		&.fadein{
			.fadein();
		}
		&:after{
			content:	'';
			position:	absolute;
			top:		0;
			left:		0;
			width:		100%;
			height:		100%;
			z-index:	1;
			background:	rgba(0, 0, 0, .5);
			.enable-transition();
			.transition-property(background-color);
			.window-blured({
				background:	rgba(0, 0, 0, .75);
			});
		}
	}
	&>section.options{
		position:	absolute;
		bottom:		0;
		right:		0;
		z-index:	5;
		text-align:	center;
		display:	block;
		-webkit-app-region:	no-drag;
		.padding(5);
		.transition-property(opacity);
		.transition-duration(@transition_duration_main);
		opacity:	1;
		&>button, &>a{
			color:		rgba(255,255,255,.4);
			right:		0;
			display: 	inline-block;
			.width(40);
			.height(40);
			.font-size(22);
			.transition-property(color);
			.transition-duration(@transition_duration_main);
			//float:		right;
			.fadein();
			position:	relative;
			margin-left:4px;
			&:hover{
				color:	#fff;
			}
			&[icon]:before{
				padding-right:	0;
				font-size:		1em;
				opacity:		1;
			}
		}
		.global_options();
	}
}
















main{
	display:	block;
	position:	relative;
	width:		100%;
	height:		100%;
	z-index:	3;
	overflow:	hidden;
	.font-size(14);
	line-height:1.5;
	color:		#f2f2f2;
	top:		100%;
	.transition-property(top);
	h1, h2, h3, h4, h5, h6{
		//color:		#73d3ff;
		line-height:1.25em;
		margin-bottom:0.5em;
	}
	&>s{
		display:	block;
		position:	absolute;
		z-index:	1;
		width:		100%;
		height:		100%;
		top:		0;
		left:		0;
		background:	~"no-repeat 50% 38.2% / cover";
		background-attachment:	fixed;
		//opacity:	.5;
		&.fadein{
			.fadein();
		}
		/*
		&:after{
			content:	'';
			position:	absolute;
			top:		0;
			left:		0;
			width:		100%;
			height:		100%;
			z-index:	1;
			background:	fade( #20333c, 50% );
		}*/
	}
	&:after{
		content: 	'';
		z-index: 	2;
		display: 	block;
		position: 	absolute;
		top: 		0;
		right: 		0;
		bottom: 	0;
		left: 		0;
		.enable-transition();
		.transition-property(background-color);
		.transition-duration(.5s);
		background:	rgba(0, 0, 0, .65);
	}
}












.page-container{
	position:	absolute;
	width:		100%;
	height:		100%;
	overflow:	auto;
	-webkit-overflow-scrolling: touch;
	top:		0;
	left:		0;
	z-index:	4;
	//.transition-property(top);
	.padding-top(20);
	.padding-bottom(20);
	.fadein();
	.transition-property(~"opacity, background-color");
	//.transition-delay(@transition_duration * 2);
	.transition-duration((@transition_duration * 2));
	.page-container-sizing();
	&.off{
		display:	none;
	}

	.main-sizing-padding();
	&[page="ships"],
	&[page="equipments"],
	&[page="arsenal"],
	&[page="entities"]{
		padding:	0 !important;
	}

	&>.tablelist{
		&>.fixed-table-container{
			&>.fixed-table-container-inner{
				@media all and (max-width: 1152px ){
					.padding-left(@nav_height - 20);
					.padding-right(@nav_height - @scrollbar_width - 20);
				}
				@media all and (max-width: 960px ){
					.padding-left(@nav_height - 40);
					.padding-right(@nav_height - @scrollbar_width - 40);
				}
				@media all and (max-width: 800px ){
					.padding-left(@nav_height - 55);
					.padding-right(@nav_height - @scrollbar_width - 55);
				}
				.window-noframe({
					@media all and (max-width: 1152px ){
						.padding-right(@nav_height - @scrollbar_width - 20 + 2);
					}
					@media all and (max-width: 960px ){
						.padding-right(@nav_height - @scrollbar_width - 40 + 2);
					}
					@media all and (max-width: 800px ){
						.padding-right(@nav_height - @scrollbar_width - 55 + 2);
					}
				});
			}
		}
		/*
		&>.options{
			&[viewtype="card"]{
				&~.fixed-table-container{
					&>.fixed-table-container-inner{
						table{
							tbody{
								tr{
									@media all and (min-width: 1152px ){
										.flex-basis(190px);
									}
									@media all and (min-width: 1680px ){
										.flex-basis(200px);
									}
								}
							}
						} // table
					} // &>.fixed-table-container-inner
				}
			} // &[viewtype="card"]
		}*/
	}
	
	/*
	&>.container{
		width: 	100%;
		height: 100%;
		&>*{
			text-align: left;
			max-width: 	~"calc(100% - 4px)" !important;
		}
	}
	*/
	
	// infos
		&.infos{
			display:	none;
			opacity:	0;
			z-index:	3;
			overflow-x: hidden;
			//.transition-delay(0);
			.animation(none);
			//overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			&>.wrapper{
				position:	relative;
				width:		100%;
				height:		100%;
				//margin-left: 	0;
				//margin-right: 	0;
			}
			@media all and (max-height: 600px){
				.padding-top(10);
				.padding-bottom(10);
			}
		} // &>main>.div.page.infos
} // .page-container
.infosbody{
	.layout-infos-_global();
	//.layout-infos-ship();
	//.layout-infos-equipment();
	//.layout-infos-fleet();
	//.layout-infos-entity();
	&+.infosbody{
		position:	absolute;
		top:		0;
		left:		0;
		//width:		auto;
		//height:		auto;
		z-index:	-1;
	}
}





#layout.is-infos-show{
	.layout-nav-btns-history-show();
	.page-container.infos{
		display:	block;
		&>.off{
			display:	none;
		}
	}
}
#layout.is-infos-on{
	.layout-nav-btns-history-on();
	.page-container{
		opacity:	0;
		//.transition-delay(0);
		&.infos{
			opacity:	1;
			z-index:	5;
			//.transition-delay(@transition_duration * 2);
			//&>div+div,
			/*
			&>.wrapper{
				&>div{
					opacity:	1;
					.fadein(.2s);
					&+div{
						//.mask-image(~"linear-gradient(to bottom, transparent, #000 @{infos_mask_tail}px)");
						//.mask-position(100% ~"calc(100% - @{infos_mask_tail}px)");
						//.mask-size(100% 0);
						//.top(20);
						//transform:	scale(.85);
						opacity:	0;
					}
				}
			}
			*/
		}
	}
	.infosbody{
		opacity:	1;
		.fadein(.2s);
		&+.infosbody{
			//.mask-image(~"linear-gradient(to bottom, transparent, #000 @{infos_mask_tail}px)");
			//.mask-position(100% ~"calc(100% - @{infos_mask_tail}px)");
			//.mask-size(100% 0);
			//.top(20);
			//transform:	scale(.85);
			opacity:	0;
		}
	}
}
//#layout.is-infos-ready{
//
//}



















#layout>.bgimg{
	position:	absolute;
	z-index:	2;
	width:		100%;
	height:		100%;
	top:		0;
	left:		0;
	overflow:	hidden;
	&>div{
		position:	absolute;
		top:		0;
		left:		0;
		width:		100%;
		height:		100%;
		.fadein();
		background:	~"no-repeat 50% 38.2% / cover";
	}
}













#layout.ready{
	&>nav{
		top:	0;
		&>.logo{
			.animation(~"layout-ready-logo 1s ease-in-out");
			.animation-iteration-count(1);
			animation-fill-mode: forwards;
			&.ready-animated{
				display:	none;
			}
		}
	}
	&>main{
		top:	0;
	}
}

//#layout.ready.hidecontent{}

.layout-only_bg();
.layout-mode-selection();






















.layout-only_bg{#layout.ready{
	@width:		300;
	@width_half:(@width / 2);
	@height:	44;
	&>.bg_controls{
		.width(@width);
		.height(@height + 4);
		left:		~"calc( 50% - @{width_half}px )";
		//top:		~"calc( 100% + 20px )";
		bottom: 	-60px;
		position:	absolute;
		border-radius:	unit( @height, px );
		z-index:	3;
		.transition-property(bottom);
		.transition-duration(.5s);
		.transition-timing-function(~"cubic-bezier(0.680, -0.550, 0.265, 1.550)");
		overflow:	hidden;
		.border(2, solid, rgba(255,255,255,.25));
		.font-size(14);
		&>s{
			display:	none;
			position:	absolute;
			z-index:	1;
			width:		100%;
			height:		100%;
			top:		0;
			left:		0;
			background:	~"no-repeat 50% 38.2% / cover";
			background-attachment:	fixed;
			flex:		none;
			&.fadein{
				.fadein();
			}
		}
		&:after{
			flex:		none;
			content:	'';
			position:	absolute;
			top:		0;
			left:		0;
			width:		100%;
			height:		100%;
			z-index:	2;
			background:	rgba(0, 0, 0, .5);
		}
		&>button{
			position:	relative;
			z-index:	3;
			display:	inline-block;
			flex:		1 1 50%;
			.line-height(@height);
			color:		rgba(255,255,255,.5);
			.border-left(1, solid, rgba(255,255,255,.25));
			.border-right(1, solid, rgba(255,255,255,.25));
			.transition-property(~"color, background-color, padding");
			&.prev, &.next{
				flex:	0 0 unit( @height, px );
			}
			&:first-child{
				border-left-width:	0;
			}
			&:last-child{
				border-right-width:	0;
			}
			&:hover{
				background:	rgba(0, 0, 0, .35);
				color:		#fff
			}
			&:active{
				background:	rgba(0, 0, 0, .65);
				.padding-top(1)
			}
		}
	}
	&>nav>button.show_only_bg_back{
		position:	absolute;
		bottom:		0;
		z-index:	4;
		text-align:	center;
		display:	block;
		-webkit-app-region:	no-drag;
		color:		rgba(255,255,255,.75);
		left:	-50px;
		.width(50);
		.height(30);
		.font-size(20);
		.transition-property(~"color, left");
		.transition-duration(@transition_duration_main);
		.height( 32 );
		.window-noframe({
			.height( 34 );
		});
		.window-maxmize({
			.height( 32 ) !important;
		});
		&:hover{
			color:	#fff;
		}
	}
	
	&.only_bg{
		&>nav{
			.top( -44 );
			.window-noframe({
				.top( -46 );
			});
			.window-maxmize({
				.top( -49 ) !important;
			});
			&>div{
				.top(-10);
			}
			&>s:after{
				background:	rgba(0, 0, 0, .375);
				.window-blured({
					background:	rgba(0, 0, 0, .175);
				})
			}
			&>section.options{
				opacity:	0;
			}
			&>button.show_only_bg_back{
				left:		0;
			}
		}
		&>main{
			top:	100%;
		}
		&>.bg_controls{
			.flexbox();
			.flex-flow(~"row nowrap");
			&>s{
				display:	block;
			}
			&.on{
				.transition-delay(@transition_duration_main);
				//top:	~"calc(100% - 50px - @{height}px)";
				bottom: 	unit( @height, px );
			}
		}
	}
}}










#layout.is-loading nav{
	&:before{
		opacity: 	1;
		animation: 	global-loading-horizontal 1.5s linear infinite alternate;
	}
	&:after{
		height: 	4px;
	}
}





















.global_options(){
	&>button{
		&.update_progress{
			display:	none;
			&.on{
				display:	inline-block;
			}
			&>s{
				top:		~"calc(100% - 4px)";
				right:		0;
				bottom:		0;
				left:		0;
				width:		0;
				background:	rgba(255,255,255,.4);
				text-align:	center;
				position:	absolute;
				display:	block;
				overflow:	hidden;
				.transition-timing-function(linear);
				.transition-duration(1s);
				&:before{
					content:	"✓";
					color:		transparent;
					.enable-transition();
					.transition-property(color);
					font-size:	12px;
					line-height:16px;
					vertical-align: top;
				}
			}
			&.done>s{
				.transition-property(~"width, top, right, bottom, border-radius, background");
				.transition-timing-function(ease-out);
				.transition-duration(@transition_duration);
				top:		~"calc(100% - 18px)";
				right:		2px;
				bottom:		2px;
				left:		auto;
				width:		16px;
				border-radius:	50%;
				background:	rgba(127, 255, 127, .5);
				&:before{
					color:	#fff;
				}
			}
		}
	}
}






















/*
.tabview{
	@size_top:	30;
	height:		100%;
	width:		100%;
	.box-sizing(border-box);
	position:	relative;
	.padding-top(@size_top);
	&>input.tabview-switch[type="radio"]{
		.checked_class(@n, @i: 1) when (@i =< @n) {
			&[value="@{i}"]:checked~header>label:nth-of-type(@{i}){
				.text-stroke-shadow(#23a0a1);
				&:before, &:after{
					background-color:	#23a0a1
				}
			}
			.checked_class(@n, (@i + 1))
		}
		.checked_class(50);
	}
	&>header{
		position:	absolute;
		top:		0;
		left:		0;
		//.padding-top((@size_top - 24) / 2);
		&>label{
			z-index:	2;
			display:	inline-block;
			margin-right:1em;
			padding:	0 .4em;
			.line-height(24);
			.transition-property(text-shadow);
			.text-stroke-shadow();
			.font-size(18);
			color:		#fff;
			font-family:@font_famliy_Song;
			position:	relative;
			&:before, &:after{
				content:	'';
				position:	absolute;
				transform:	rotateZ(15deg);
				.enable-transition();
				.transition-property(background-color);
				background-color:	#999;
				z-index:	-1;
			}
			&:before{
				.width(3);
				height:	100%;
				left:	.15em;
				top:	0;
			}
		}
	}
	&>section{
		position:	relative;
		height:		100%;
		width:		100%;
		overflow:	auto;
		.fixed-table-container{
			.padding-top(@thead_height);
			&:after{
				@thead_corner_size:			8px;
				@thead_corner_size_side:	ceil(@thead_corner_size * 1.4142135623730950488016887242097);
				@thead_corner_size_side_2x:	(@thead_corner_size_side * 2);
				@thead-mask-image-main-bg:	linear-gradient(135deg, transparent @thead_corner_size, #000 @thead_corner_size)
											,linear-gradient(to bottom, #000, #000)
											,linear-gradient(to bottom, #000, #000);
				@thead-mask-position-main-bg:0 0
											,0 (@thead_corner_size_side - 0.25)
											,(@thead_corner_size_side - 0.25) 0;
				@thead-mask-size-main-bg:	@thead_corner_size_side @thead_corner_size_side
											,100% 100%
											,100% 100%;
				.mask-image(~"@{thead-mask-image-main-bg}");
				.mask-position(~"@{thead-mask-position-main-bg}");
				.mask-size(~"@{thead-mask-size-main-bg}");
				.mask-repeat(no-repeat);
				position:	absolute;
				top:		0;
				left:		0;
				z-index:	-1;
				width:		100%;
				.height(@thead_height);
				content:	'';
				background:	rgba(0,0,0,.5);
				.border-top(1, solid, #997904);
				.border-bottom(1, solid, #f0eaab);
			}
			.fixed-table-container-inner{
				.padding-bottom(@thead_height);
			}
		}
	}
}
*/












table{
	width:		100%;
	tr{
		//.border-bottom(1, solid, #d3c9db);
		.border-bottom(1, solid, rgba(255,255,255,.1));
		&:empty{
			border-bottom:	0;
		}
	}
	thead{
		.font-size(12);
		.line-height(@thead_height);
		td{
			text-align:		center;
		}
		/*
		.th-inner{
			//line-height:	@thead_height;
			width:			100%;
			//@calc_number:	unit( ( @nav_height + @scrollbar_width ) / 2, px );
			@calc_number:	unit( @nav_height / 2, px );
			margin-left:	~"calc(-50% + @{calc_number})";
			@media all and (max-width: 1152px ){
				@calc_number:	unit( (@nav_height - 20) / 2, px );
				margin-left:	~"calc(-50% + @{calc_number})";
			}
			@media all and (max-width: 960px ){
				@calc_number:	unit( (@nav_height - 40) / 2, px );
				margin-left:	~"calc(-50% + @{calc_number})";
			}
			@media all and (max-width: 800px ){
				@calc_number:	unit( (@nav_height - 55) / 2, px );
				margin-left:	~"calc(-50% + @{calc_number})";
			}
		}*/
	}
	tbody{
		tr{
			.transition-property(~"background, color");
		}
		td, th{
			.transition-property(~"background");
			min-width:	2.5em;
			vertical-align:	middle;
		}
		th{
			padding:	.25em 0;
			text-align:	left;
		}
		td{
			border-left:1px solid transparent;
			//text-align:	right;
			text-align:	center;
			//padding:	.25em .5em .25em .25em;
			padding:	.25em;
			//.border-left(1, solid, fade(#d3c9db, 25%));
		}
	}

	@color_table_hover: 	fade(saturate( #67afa5, 5%), 85% );
	/*
	&.hashover{
		tbody tr[data-shipid]:hover{
			//background:	fade(saturate( #67afa5, 5%), 35% );
			background:	rgba(0, 0, 0, .5);
			//color:		#fff;
		}
	}*/

	.loop(@n, @i: 1) when (@i =< @n) {
		&.hashover-column[td-nth-hovered="@{i}"] tbody tr td:nth-of-type( @{i} ){
			background:	fade( @color_table_hover, 20% );
		}
		.loop(@n, (@i + 1));
	}
	//.loop(20);

	&.hashover-column{
		td.state-hover-column{
			//background:	fade( @color_table_hover, 20% );
			//background:	rgba(0, 0, 0, .25);
			background-color:	rgba(0, 0, 0, .2);
			&:hover{
				background-color:	transparent;
			}
		}
	}

	&.sortable{
		thead{
			.user-select(none);
			td{
				.transition-property(~"color, text-shadow");
			}
		}
	}
}













// inputs & buttons
	.inputstyle(){
		background:	rgba(0,0,0,.1);
		.border(1, solid, rgba(255, 255, 255, .15));
		.border-radius(4);
		display:	inline-block;
		width:		auto;
		color: 		inherit;
		.transition-property(~"border,background,color");
		&:not([disabled]),
		&:not([readonly]){
			&:hover{
				background:		rgba(0,0,0,.25);
				border-color:	rgba(255, 255, 255, .3)
			}
		}
		&:not([disabled]){
			&:focus{
				background:		rgba(0,0,0,.25);
				border-color:	rgba(255, 255, 255, .3)
			}
		}
	}
	input[type="text"],
	input[type="number"],
	select{
		.inputstyle();
		.height(20);
		.line-height(20);
		.min-width(120);
		max-width:	100%;
	}
	
	button{
		color: 		inherit;
	}

	input[type="text"],
	input[type="number"]{
		.padding(0, 4);
	}

	input[type="checkbox"]{
		.appearance(none);
		.width(16);
		.font-size(16);
		position:	relative;
		vertical-align: top;
		color:		inherit;
		//outline:	0;
		&:before{
			content:	"\e603";
			font-family:icons;
			.font-size(16);
			width:		100%;
			height:		100%;
			position:	absolute;
			top:		0;
			left:		0;
			font-weight:normal;
		}
		&:checked:before{
			content:	"\e601";
		}
		&:indeterminate{
			&:before{
				content:	"\e603" !important;
			}
			&:after{
				position:	absolute;
				content:	'';
				top:		4px;
				left:		4px;
				width:		8px;
				height:		8px;
				background:	rgba(255, 255, 255, .5);
			}
		}
	}


	button[type="button"],
	button[type="submit"],
	input[type="submit"]{
		background:	#239e9f;
		color:		#fff;
		box-shadow:	inset 0 0 3px #fff;
		border-radius:	5px;
		.line-height(20);
		padding:	0 .5em;
		text-align:	center;
		.transition-property(background);
		&.add{
		}
		&.delete{
			width:	20px;
			height:	20px;
			margin-left:	4px;
			padding:	0;
		}
		&:hover{
			background-color:	lighten(#239e9f, 5%)
		}
	}
	button[type="button"].large,
	form p.actions button[type="submit"],
	form p.actions button[type="button"],
	form p.actions input[type="submit"]{
		background:	transparent ~"linear-gradient(to bottom, #1fa7b8 50%, #267d86 100%)" 0 -100%;
		background-size:	100% 200%;
		.text-stroke-shadow( #14707d );
		box-shadow:	inset 0 0 10px rgba(255,255,255,.5);
		.font-size(18);
		.line-height(30);
		padding:	0 1em;
		font-family:@font_famliy_Song;
		&:hover{
			background-color:	transparent;
			background-position: 0 -200%;
		}
	}

















// #titlebar
	html{
		#titlebar{
			background:	rgba(0,0,0,.35);
			.transition-property(~"background-color, height");
			.height(34);
		}
		&.app-ready #titlebar{
			background:	transparent !important;
			height:		0 !important;
		}
		&.window-maxmize,
		&.window-fullscreen{
			#titlebar{
				.height(30);
			}
		}
	}
















// 当 modal 显示时
	.modal.on ~ #layout{
		&>nav{
			.window-noframe({
				-webkit-app-region:	no-drag;
			});
		}
	}















// Capture Mode
	body.mod-capture{
		pointer-events:	none;
		#layout.ready{
			padding-top: 	0;
			&>nav, &>.debug_hashbar{
				display: 	none;
			}
			//.page-container{
			//	padding-top: 4%;
			//}
		}
		#titlebar,
		&>.menus,
		#tip{
			display: 	none;
		}
	}

















// debugmode
	#layout.debug-hashbar{
		@hashbar_height:	34;
		.padding-top(@nav_height + @hashbar_height);
		&>.debug_hashbar{
			position:	absolute;
			.top(0 - @hashbar_height);
			left:		0;
			width:		100%;
			.height( @hashbar_height );
			z-index:	2;
			.padding-right(200);
			background:	rgba(0,0,0,.85);
			.transition-property(top);
			.transition-duration(.75s);
			input[type="text"]{
				.height( @hashbar_height );
				.line-height( @hashbar_height );
				width:		100%;
				background:	transparent;
				border-color:	transparent;
				color:		rgba(255,255,255,.5);
				.padding(0, 10);
			}
		}
		&.ready{
			&>nav{
				.top( @hashbar_height );
			}
			&>.debug_hashbar{
				top:		0;
			}
		}
	}





























@keyframes layout-loading-logo {
	0% {
		transform:	translateY(10px);
	}
	100% {
		transform:	translateY(-10px);
	}
}

@keyframes layout-ready-logo {
	0% {
	}
	100% {
		opacity:		0;
	}
}

@keyframes global-loading-horizontal {
	0% {
		left: 	0;
	}
	100% {
		left: 	(100% - @loading-bar-width);
	}
}
