@import '../../mixins/stat.less';

body > .modal.hastitle.modal-bonuses{
    @icon-size: 36px;
    @color-link-equipment: #8fffc5;
    @color-link-ship: #8ddbff;

    .style-symbol(){
        color: #fff6cc;
        font-size: 30px;
        line-height: 0;
        left: (@icon-width - 4);
        text-shadow: 0 0 10px #fef6e6;
    }

    &>div{
        height: auto;
        width: 50%;
        min-width: @screen-width-t5-breaking-point;
        @media all and (max-width: @mobileview-breaking-point ){
            min-width:  0;
            width:      ~"calc(100% - 40px)";
        }

        & > header{
            overflow: hidden;
            & > strong{
                display: block;
                font-size: 1.25em;
                letter-spacing: .1em;
                line-height: 1em;
                margin: 0.4em 0 0.2em 0;
                color: #fff;
                font-weight: normal;
            }
            & > span{
                display: block;
                font-size: 1em;
                line-height: 1em;
                font-style: italic;
            }
        }
    }
    
    section{
        max-height: ~"calc(100vh - 100px)";
        @icon-width: 36px;
        
        .bonus{
            &::after{
                content: "";
                display: block;
                height: 0;
                clear: both;
            }
            & + .bonus{
                margin-top: 10px;
                border-top: 10px solid transparent;
                position: relative;
                &::before{
                    content: "";
                    top: -10px;
                    height: 1px;
                    left: -10px;
                    right: -10px;
                    position: absolute;
                    background: fade(#fff, 25%);
                }
            }
            // &:first-child{
            //     border-top: 10px solid transparent;
            // }
            // &:last-child{
            //     border-bottom: 10px solid transparent;
            // }

            @condition-item-height: 30px;
            .condition-item() {
                @line-height: 16px;
                line-height: @line-height;
                padding-top: ((@condition-item-height - @line-height) / 2);
                padding-bottom: ((@condition-item-height - @line-height) / 2);
                font-size: 16px;
            }

            .equipments{
                .link_equipment{
                    .condition-item();
                }
                a.link_equipment{
                    color: @color-link-equipment;
                    &:hover{
                        color: #fff;
                    }
                    &:active{
                        color: fade(#fff, 65%);
                    }
                }
            }
            .ships{
                border-left: @icon-size solid transparent;
                .condition{
                    display: block;
                }
                .item{
                    display: inline-block;
                    &.ship-class{
                        .condition-item();
                        color: #fff;
                        &::before{
                            content: '/';
                            display: inline-block;
                            padding: 0 .35em;
                        }
                        &:first-child::before{
                            content: initial;
                        }
                    }
                    &.ship{
                        @avatar-height: 25px;
                        @avatar-width: floor(@avatar-height * 1.5);
                        .condition-item();
                        color: #fff;
                        overflow: hidden;
                        height: @condition-item-height;
                        position: relative;
                        padding-left: (@avatar-width + 5);
                        .avatar{
                            display: block;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            width: @avatar-width;
                            height: @avatar-height;
                            border-radius: (@avatar-height / 2);
                            overflow: hidden;
                            margin-top: (0 - @avatar-height / 2);
                            img{
                                display: block;
                                position: absolute;
                                top: 0;
                                left: -40px;
                                width: auto;
                                height: auto;
                                min-height: 100%;
                                max-height: 100%;
                            }
                        }
                        &.ship-link{
                            color: @color-link-ship;
                            transition-property: color;
                            &:hover{
                                color: #fff;
                            }
                            &:active{
                                color: fade(#fff, 65%);
                            }
                        }

                        margin-right: 14px;
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                    &.ship-exclude{
                        @size: 22px;
                        font-size: 13px;
                        display: inline-block;
                        line-height: @size;
                        height: @size;
                        border-radius: 10px;
                        color: fade(#fff, 65%);
                        background: fade(#fff, 25%);
                        padding: 0 8px 0 (@size + 2);
                        position: relative;
                        margin: 0 5px 5px 0;
                        &::before{
                            content: "×";
                            // color: #000;
                            font-size: 16px;
                            position: absolute;
                            top: 2px;
                            left: 2px;
                            width: (@size - 4);
                            height: (@size - 4);
                            line-height: (@size - 4);
                            text-align: center;
                            border-radius: 50%;
                            background: fade(#000, 50%);
                        }
                    }
                }
            }
            .stats{
                @padding-left: @icon-width;
                padding-left: @padding-left;
                position: relative;
                overflow: hidden;
                .info{
                    display: block;
                    font-size: 14px;
                    line-height: 22px;
                }
                .has-extra{
                    position: relative;
                    display: block;
                    .extra{
                        position: absolute;
                        width: @padding-left;
                        left: (0 - @padding-left);
                        text-align: right;
                        top: 50%;
                        line-height: 0;
                        padding-right: 10px;
                    }
                    .star{
                        color: #2eff93;
                        font-size: 14px;
                        &::before{
                            content: "\2605";
                            font-size: 125%;
                            padding-right: 2px;
                            vertical-align: bottom;
                        }
                        &[data-star="0"]{
                            color: fade(#fff, 35%);
                        }
                        &[data-star="10"]{
                            background: ~"url(@{folder_images}/improve-max.svg) no-repeat 100% 50%";
                            color: transparent;
                            overflow: hidden;
                            width: 24px;
                            height: 24px;
                            background-size: contain;
                            margin-top: -12px;
                            &::before{
                                content: initial;
                            }
                        }
                    }
                    .count{
                        font-size: 14px;
                        &::before{
                            content: '×';
                            font-size: 125%;
                            padding-right: 2px;
                            vertical-align: bottom;
                        }
                    }
                }
                .stat{
                    .stat();
                    color: #2cace8;
                    font-size: 16px;
                    line-height: 22px;
                    display: inline-block;
                    padding-right: 10px;
                    margin-top: 2px;
                }
            }
        }
        .bonus-set{
            .equipments{
                position: relative;
                .equipment{
                    display: block;
                    position: relative;
                    & + .equipment{
                        margin-top: 15px;
                        &::before{
                            .style-symbol();
                            content: "＋";
                            position: absolute;
                            top: -10px;
                        }
                    }
                }
                &::after{
                    .style-symbol();
                    content: "＝";
                    position: absolute;
                    bottom: -12px;
                    line-height: 0;
                    transform-origin: 50% 50%;
                    transform: rotate(90deg);
                }
            }
            .ships + .equipments{
                margin-top: 20px;
                &::before{
                    .style-symbol();
                    content: "＋";
                    position: absolute;
                    top: -10px;
                }
            }
            .stats{
                .info{
                    padding-left: 26px;
                }
            }
        }
    }

    &.modal-bonuses-ship{
        @header-height: 60px;
        &>div{
            padding-top: @header-height !important;
    
            & > header{
                @img-width: 75px;
                @img-offset-x: -25px;
                @img-mask-pos-1: (@img-width - @img-offset-x);
                @img-mask-pos-2: (@img-width - @img-offset-x + 80);
                height: @header-height;
                padding-left: (@img-width + 60);
                & > img{
                    position: absolute;
                    top: 0;
                    left: @img-offset-x;
                    width: auto;
                    height: auto;
                    min-height: 100%;
                    max-height: 100%;
                    z-index: -1;
                    .mask(~"linear-gradient(to right, #000 @{img-mask-pos-1}, transparent @{img-mask-pos-2})");
                }
            }
    
            & > button.close{
                // top: ((@header-height - 40px) / 2);
                height: @header-height;
                line-height: @header-height;
            }
        }
    }
    
    &.modal-bonuses-equipment{
        @header-height: 60px;
        &>div{
            padding-top: @header-height !important;
    
            & > header{
                @icon-size: 36px;
                height: @header-height;
                padding-left: (@icon-size + 10);
                & > i{
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    width: @icon-size;
                    height: @icon-size;
                    z-index: -1;
                    margin-top: (0 - @icon-size / 2);
                    background: no-repeat 50% 50%;
                }
            }
    
            & > button.close{
                // top: ((@header-height - 40px) / 2);
                height: @header-height;
                line-height: @header-height;
            }
        }
    }

}
