.layout-infos-ship(){
	.ship{
		.flexbox();
		.flex-flow(row wrap);
		@size:	unit( @nav_height, px );
		padding-right:	~"calc( 30% + @{size} )";
		position:		relative;
		width:			100%;
		height:			100%;

		h1, h2, h3, h4, h5, h6{
			color:		#f2fbff;
			.font-size(48);
			display:	block;
			position:	relative;
			//font-family:@font_famliy_Hei;
			//font-weight:lighter;
			font-weight:normal;
			line-height:unit(50 / 48, em);
			//text-shadow:0 0 5px fade(#25baff, 50%);
			text-shadow:0 0 unit(5 / 30, em) #25baff;
			.margin-bottom(8);
			&:before{
				content:	attr(data-content);
				display:	block;
				font:		inherit;
				position:	absolute;
				top:		0;
				left:		0;
				z-index:	1;
				color: 		#b0e6ff;
				.mask-image( ~"linear-gradient(to bottom, transparent, #000)" );
				text-shadow:0 0 1px #000;
			}
		}
		h2{
			.font-size(48)
		}
		h3{
			.font-size(36)
		}
		h4{
			.font-size(24)
		}

		&>div{
			width:		100%;
			.flex(1 0 100%);
			&.title{
				small{
					display:	block;
					.font-size(16);
					color:		#8ddbff;
					.line-height(18);
					font-weight:lighter;
					.padding-left(4);
					em{
						font-style:	normal;
						padding:	0 .25em;
					}
				}
			}
			&.stats{
				flex-basis:	65%;
				.padding-right(60);
				&>div{
					display:	block;
					vertical-align: top;
					span{
						.font-size(14);
						.line-height(24);
						width:		50%;
						display:	inline-block;
						position:	relative;
						overflow:	visible;
						vertical-align: top;
						&:nth-child(odd){
							width:	~"calc(50% + 20px)";
						}
						&:nth-child(even){
							width:	~"calc(50% - 20px)";
						}
						&>small{
							.padding-left(22);
							font-weight:lighter;
							&:before{
								content:	'';
								position:	absolute;
								left:		0;
								.top( (26 - 18) / 2 - 1 );
								.width(18);
								.height(18);
								background:	~"url(@{folder_images}/stats.png) no-repeat 0 0";
							}
							&.stat-hp:before{
								background-position:	0 0;
							}
							&.stat-armor:before{
								background-position:	0 unit( (0 - 18 * 1), px );
							}
							&.stat-evasion:before{
								background-position:	0 unit( (0 - 18 * 2), px );
							}
							&.stat-carry:before{
								background-position:	0 unit( (0 - 18 * 3), px );
							}
							&.stat-fire:before{
								background-position:	0 unit( (0 - 18 * 4), px );
							}
							&.stat-torpedo:before{
								background-position:	0 unit( (0 - 18 * 5), px );
							}
							&.stat-aa:before{
								background-position:	0 unit( (0 - 18 * 6), px );
							}
							&.stat-asw:before{
								background-position:	0 unit( (0 - 18 * 7), px );
							}
							&.stat-speed:before{
								background-position:	0 unit( (0 - 18 * 8), px );
							}
							&.stat-range:before{
								background-position:	0 unit( (0 - 18 * 9), px );
							}
							&.stat-los:before{
								background-position:	0 unit( (0 - 18 * 10), px );
							}
							&.stat-luck:before{
								background-position:	0 unit( (0 - 18 * 11), px );
							}
							&.stat-fuel:before{
								background-position:	0 unit( (0 - 18 * 12), px );
							}
							&.stat-ammo:before{
								background-position:	0 unit( (0 - 18 * 13), px );
							}
						}
						&>em{
							color:		#2cace8;
							font-style:	normal;
							.padding-left(8);
							sup{
								position:	absolute;
								.top(-6);
								padding-left:.25em;
							}
						}
					}
					& ~ div{
						.border-top(2, solid);
						border-color:	fade(#2cace8, 25%);
						.padding-top(5);
						.margin-top(5);
						&.consum{
							border-color:	hsla(0, 80%, 54%, 0.25);
							span>em{
								//color:		hsl(0, 80%, 54%);
								color:		#eb6969;
							}
						}
					}
				}
			}
			&.equipments{
				flex-basis:	35%;
				&>button{
					display:	block;
					width:		100%;
					//width:		~"calc(25% - 12px)";
					.height(32);
					.line-height(22);
					.padding-top( (32 - 22) / 2 );
					.padding-bottom( (32 - 22) / 2 );
					//.padding-right(12);
					.padding-left(16);
					//.margin-right(12);
					text-align:	left;
					position:	relative;
					.font-size(13);
					vertical-align:top;
					&>i{
						position:	absolute;
						top:		0;
						left:		0;
						.width(32);
						.height(32);
						border-radius:	50%;
						overflow:	hidden;
						background:	#182d31 no-repeat 50% 50%;
						.border(1, solid, #0874a6);
						.transition-property(~"background-color, border-color");
						z-index:	3;
					}
					&>small{
						display:	block;
						position:	relative;
						width:		100%;
						height:		100%;
						.padding-left(38 - 18);
						background:	fade(#0a2937, 75%);
						color:		#2cace8;
						z-index:	1;
						font-weight:lighter;
						.padding-right(22);
						.ellipsis();
						.transition-property(~"background-color, color");
						sup{
							.line-height(14);
							.padding(0, 2);
						}
						small{
							.padding(0, 2);
						}
					}
					&>em{
						display:	block;
						position:	absolute;
						.width(22);
						.height(22);
						text-align:	center;
						.top( (32 - 22) / 2 );
						right:		0;
						background:	rgba(0, 0, 0, .5);
						color:		lighten(#497387, 10%);
						z-index:	2;
						font-style:	normal;
					}
					&.empty{
						&>small{
							color:	#497488;
						}
					}
					&.no{
						opacity:	.25;
					}
					&~button{
						.margin-top(8);
					}
					//&[data-itemid]:hover{
					//	&>small{
					//		background:	fade( lighten(#0a2937, 15%), 75%);
					//		color:		lighten(#2cace8, 15%);
					//	}
					//}
				}
			}
			&.remodels{
				height:	20%;
				.flexgrid{
					.flex-flow(row nowrap);
					.justify-content(flex-start);
					.align-items(flex-start);
					.margin-top(-30);
					.margin-right(-2);
					&>.unit{
						flex: 	0 1 auto;
						position:	relative;
					}
					&>button{
						position:	relative;
						z-index:	1;
						.height(70);
						.padding-top(30);
						.margin-right(2);
						strong{
							position:	absolute;
							top:		0;
							.left(4);
							z-index:	2;
							.font-size(16);
							color:		#bde8fc;
							font-weight:normal;
							vertical-align: top;
							.line-height(36);
							&:before{
								content:	'Lv.';
								padding-right:	.15em;
								font-size:	smaller;
								font-style:	italic;
								opacity:	.65;
							}
						}
						i{
							display:	block;
							position:	relative;
							z-index:	2;
							width:		100%;
							height:		100%;
							overflow:	hidden;
							opacity:	0.5;
							.transition-property(opacity);
							.mask-repeat(no-repeat);
							.mask-image(~"linear-gradient(to right, #000 0, #000 calc(100% - 35px), transparent 100%)");
							.mask-position(0 0);
							.mask-size(100% 100%);
							img{
								display:	block;
								.min-height(40);
								.max-height(40);
								width:		auto;
								height:		auto;
							}
						}
						&:before,
						&:after{
							content:	'';
							position:	absolute;
							.top(30);
							right:		0;
							bottom:		0;
							left:		0;
							.enable-transition();
						}
						&:before{
							z-index:	3;
							.border(2, solid, transparent);
							.transition-property(~"border-color, box-shadow");
						}
						&:after{
							z-index:	1;
							backgrond:	transparent;
							.transition-property(~"background-color");
						}
						&.blueprint{
							strong{
								color:		hsl(0, 91%, 86%)
							}
							strong:after{
								content:	'';
								display:	inline-block;
								.width(24);
								.height(24);
								.margin-left(8);
								background:	~"url(@{folder_images}/blueprint.png) no-repeat 0 0 / cover";
								position:	absolute;
								.top(4);
							}
						}
						&:hover{
							&:before{
								border-color:	fade(#9bbecf, 35%);
								box-shadow:		inset 0 0 5px fade(#2cace8, 50%),
												0 0 5px fade(#2cace8, 50%);
							}
							&:after{
								background-color:	fade(#9bbecf, 35%);
							}
							i{
								opacity:	1;
							}
						}
						&.on{
							z-index:	2;
							&:before{
								border-color:	#9bbecf;
								box-shadow:		inset 0 0 5px #2cace8,
												0 0 5px #2cace8;
							}
							&:after{
								background-color:	#9bbecf;
							}
							i{
								opacity:	1;
							}
						}
					}
				}
			}
		}
		&>span{
			display:	block;
			.flex(0);
			position:	absolute;
			top:		0;
			right:		~"calc( 30% + @{size} )";
			&.entity{
				.padding(6, 0, 6, 12);
				//width:		15%;
				.width(140);
				vertical-align:top;
				background:	fade(#0a380a, 32.5%);
				border-radius:	5px;
				.height(54);
				&>strong{
					.font-size(13);
					.line-height(20);
					color:		#cfd1cf;
					font-weight:normal;
					display:	block;
				}
				&>span{
					.padding-top(2);
					.font-size(14);
					.line-height(20);
					color:		#8fcc8f;
					display:	block;
				}
				&+.entity{
					right:	~"calc( 30% + @{size} + 140px + 10px )";
				}
			}
		}
		&>aside{
			.flex(0);
			position:	absolute;
			width:		~"calc(30% + 40px)";
			height:		100%;
			top:		0;
			right:		-20px;
			overflow:	auto;
			text-align:	center;
			overflow:	hidden;
			.mask-image( ~"linear-gradient(to left, transparent, #000 20px, #000 calc(100% - 20px), transparent)" );
			&>input[type="radio"]{
				position:	relative;
				margin:		0;
				.appearance(none);
				.width(30);
				.height(30);
				top:		~"calc( 100% - 60px )";
				display:	inline-block;
				z-index:	2;
				.checked(@n, @i: 1) when (@i =< @n) {
					&[value="@{i}"]:checked~div{
						@left:		(0 - (@i - 1) * 100%);
						left:		@left;
					}
					.checked(@n, (@i + 1))
				}
				.checked(10);
				&:before{
					@scale:	(10 / 30);
					position:	absolute;
					content:	'';
					width:		100%;
					height:		100%;
					border-radius:50%;
					background:	#fff;
					background:	rgba(255, 255, 255, 25%);
					transform:	~"scale(@{scale})";
					.border(2, solid, transparent);
					.enable-transition();
					.transition-property(~"background-color, transform, border-color");
				}
				&:hover:before{
					background:	rgba(255, 255, 255, 50%);
				}
				&:checked:before{
					@scale:	(16 / 30);
					background-color:	fade(#3fc0ff, 25%);
					border-color:	fade(#3fc0ff, 75%);
					transform:	~"scale(@{scale})";
				}
			}
			&>div{
				position:	absolute;
				width:		100%;
				height:		100%;
				top:		0;
				left:		0;
				.transition-property(left);
				.padding(10, 0, 70, 0);
				&>span{
					position:	relative;
					width:		100%;
					height:		100%;
					display:	inline-block;
					padding:	0 20px;
					//background:	~"no-repeat 50% 50% / contain";
					img{
						object-fit:	scale-down;
						max-width:	100%;
						max-height:	100%;
					}
				}
			}
			.radio_number( @number ){
				width:	percentage(@number);
				&>span{
					width:	percentage(1 / @number);
				}
			}
			&>input[type="radio"]+input[type="radio"]~div{
				.radio_number(2)
			}
			&>input[type="radio"]+input[type="radio"]+input[type="radio"]~div{
				.radio_number(3)
			}
			&>input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]~div{
				.radio_number(4)
			}
			&>input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]~div{
				.radio_number(5)
			}
			&>input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]~div{
				.radio_number(6)
			}
			&>input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]~div{
				.radio_number(7)
			}
			&>input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]~div{
				.radio_number(8)
			}
			&>input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]~div{
				.radio_number(9)
			}
			&>input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]+input[type="radio"]~div{
				.radio_number(10)
			}
		}

		@media all and (max-width: 1152px ){
			@size:	unit( @nav_height - 20, px );
			padding-right:	~"calc( 20% + @{size} )";
			&>span.entity{
				right:	~"calc( 20% + @{size} )";
				&+.entity{
					right:	~"calc( 20% + @{size} + 140px + 10px )";
				}
			}
		}
		@media all and (max-width: 960px) and (max-height: 600px), (min-width: 961px) and (max-height: 560px){
			.flex-flow(column nowrap);
			.justify-content(flex-start);
			.align-items(flex-start);
			&>div{
				.flex(1 0 auto);
				&.stats{
					flex-basis:	auto;
					padding-right:	0 !important;
					&>div{
						display:	inline-block;
						width:		30%;
						span{
							width:	50%;
							&:nth-child(odd){
								width:	50%;
							}
							&:nth-child(even){
								width:	50%;
							}
							&>small{
								.font-size(12);
							}
							&>em{
								.padding-left(2);
							}
						}
						&~div{
							border-top:		0;
							.border-left(2);
							padding-top:	0;
							margin-top:		0;
							&.consum{
								width:	10%;
								span{
									width:	100%;
									&:nth-child(odd){
										width:	100%;
									}
									&:nth-child(even){
										width:	100%;
									}
									&>small{
										width: 		0;
										overflow: 	hidden;
										display: 	inline-block;
										.height(18);
									}
									&>em{
										padding: 	0;
									}
								}
							}
						}
					}
				}
				&.equipments{
					flex-basis:	auto;
					&>button{
						display:	inline-block;
						width:		~"calc(25% - 9px)";
						.margin-right(12);
						&:last-of-type{
							margin-right:	0;
						}
						&~button{
							margin-top:		0;
						}
					}
				}
				&.remodels{
					flex:	0 0 76px;
				}
			}
		}
		@media all and (max-width: 960px ){
			@size:	unit( @nav_height - 40, px );
			padding-right:	~"calc( 20% + @{size} )";
			&>div.stats{
				padding-right:	@size;
			}
			&>span.entity{
				right:	~"calc( 20% + @{size} )";
				&+.entity{
					right:	~"calc( 20% + @{size} )";
					.top(60)
				}
			}
			&>aside{
				width:		20%;
			}
		}
		@media all and (max-width: 800px ){
			@size:	unit( @nav_height - 55, px );
			/*
			padding-right:	~"calc( 15% + @{size} )";
			&>span.entity{
				right:	~"calc( 15% + @{size} )";
				&+.entity{
					right:	~"calc( 15% + @{size} + 140px + 10px )";
				}
			}
			*/
			padding-right:	0;
			&>div.stats{
				padding-right:	@size;
			}
			&>span.entity{
				right:	0;
				&+.entity{
					right:	0;
				}
			}
			&>aside{
				display:	none;
			}
		}
	}
}