// Tooltip

@tooltip_border_color:	#808080;


#tip{
	@color1:	#e8dfc2;
	@color2:	#6b6836;
	.font-size(14);
	.max-width(330);
	&>.body{
		.padding(8, 10);
	}
	/*
	//background:		rgba(0, 0, 0, .75);
	//background:		fade( darken(@color2, 20%), 85% );
	background:		hsla( 51, 0%, 15%, .9 );
	color:			#f2f2f2;
	.border(1, solid, transparent);
	border-image:	linear-gradient(to bottom left, @color1, @color2);
	border-image-slice: 1;
	line-height:	150%;
	box-shadow:		none;
	border-radius:	5px;

	&[data-tip-indicator-pos = bottom]:before{
		border-top-color:	#858153;
	}
	&[data-tip-indicator-pos = bottom]{
		box-shadow:		none;
	}
	&[data-tip-indicator-pos = top]:before{
		border-bottom-color:#cec6a5;
	}
	&[data-tip-indicator-pos = left]:before{
		border-right-color:	#6b6836;
	}
	&[data-tip-indicator-pos = right]:before{
		border-left-color:	#e8dfc2;
	}*/










	h3.itemstat,
	h3.shipinfo{
		display:	block;
		position:	relative;
		&>s{
			display:	inline-block;
			.width(36);
			.height(36);
			position:	absolute;
			top:		0;
			left:		0;
			background:	no-repeat 50% 50%;
		}
		&>strong{
			.font-size(22);
			.line-height(22);
			color: 		@color1;
			display:	block;
			position:	relative;
			//font-family:@font_famliy_Hei;
			//font-weight:lighter;
			font-weight:normal;
			.padding-bottom(2);
			&:before{
				content:	attr(data-content);
				display:	block;
				font:		inherit;
				position:	absolute;
				top:		0;
				left:		0;
				z-index:	1;
				color: 		@color2;
				.mask-image( ~"linear-gradient(to bottom, transparent, #000)" );
				text-shadow:0 0 1px #000;
			}
			/*
			background: -webkit-linear-gradient(#e8dfc2, #6b6836);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			*/
		}
		&>small{
			.font-size(14);
			font-weight:normal;
			color:		mix(@color1, @color2, 75%);
			display:	block;
			font-family:@font_famliy_Hei;
			padding:	0;
			.line-height(14);
		}
		&+span{
			.border-top(1, dashed, mix(@color1, @color2, 75%) );
			.padding-top(8);
			.margin-top(10);
		}
		&~span{
			display:	block;
		}
	}
	h3.shipinfo{
		img{
			margin:	-7px -9px 0 -9px;
			width:	160px;
			height:	40px;
		}
	}
	h3.itemstat{
		.padding-left(42);
	}

	h4.item_equipable_on{
		display:	block;
		.font-size(16);
		font-weight:normal;
		color:		mix(@color1, @color2, 75%);
		display:	block;
		font-family:@font_famliy_Hei;
		padding:	0;
		.line-height(14);
		.padding-bottom(8);
		.margin-bottom(10);
		.border-bottom(1, dashed, mix(@color1, @color2, 75%) );
		&~span{
			display:	inline-block;
		}
	}
}