@count:     11;

// const navies = [
//     "ijn", // 日本帝国海军
//     "km", // 纳粹德国海军"
//     "rm", // 意大利皇家海军"
//     "mn", // 法国海军"
//     "rn", // 英国皇家海军"
//     "usn", // 美国海军"
//     "vmf" // 苏联海军"
//     "sm" // 瑞典海军"
//     "ran" // 澳大利亚皇家海军"
//     “rnln” // 荷兰皇家海军
// ]
.flag-navy{
    @size:      20px;
    @width:     21px;
    @height:    20px;

    width:      @width;
    height:     @height;
    display:    inline-block;

    background:     url(~"@{folder_images}/navy-flags/shadow.png?@{file_flags_shadow_revision}") no-repeat 50% @height / cover;

    &[data-navy="ijn"]{
        background-position: 50% 0%;
    }
    &[data-navy="km"]{
        background-position: 50% percentage(1 / (@count - 1));
    }
    &[data-navy="rm"]{
        background-position: 50% percentage(2 / (@count - 1));
    }
    &[data-navy="mn"]{
        background-position: 50% percentage(3 / (@count - 1));
    }
    &[data-navy="rn"]{
        background-position: 50% percentage(4 / (@count - 1));
    }
    &[data-navy="usn"]{
        background-position: 50% percentage(5 / (@count - 1));
    }
    &[data-navy="vmf"]{
        background-position: 50% percentage(6 / (@count - 1));
    }
    &[data-navy="sm"]{
        background-position: 50% percentage(7 / (@count - 1));
    }
    &[data-navy="ran"]{
        background-position: 50% percentage(8 / (@count - 1));
    }
    &[data-navy="rnln"]{
        background-position: 50% percentage(9 / (@count - 1));
    }
    &[data-navy="rocn"]{
        background-position: 50% percentage(10 / (@count - 1));
    }

    .navies(@n, @i: 0) when (@i =< @n) {
        &[data-navy="@{i}"]{
            // background-position: 50% percentage(0 - @i / @count);
            background-position: 50% percentage(@i / (@count - 1));
        }
        .navies(@n, (@i + 1));
    }
    .navies(@count);

    /* 1.25 dpr */
    @media 
    (-webkit-min-device-pixel-ratio: 1.25), 
    (min-resolution: 120dpi){
        background-image:   url(~"@{folder_images}/navy-flags/shadow@1.25.png?@{file_flags_shadow_revision}");
    }

    /* 1.5 dpr */
    @media 
    (-webkit-min-device-pixel-ratio: 1.5), 
    (min-resolution: 144dpi){
        background-image:   url(~"@{folder_images}/navy-flags/shadow@1.5.png?@{file_flags_shadow_revision}");
    }

    /* 2.0 dpr */
    @media 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi){
        background-image:   url(~"@{folder_images}/navy-flags/shadow@2.png?@{file_flags_shadow_revision}");
    }

    /* 3.0 dpr */
    @media 
    (-webkit-min-device-pixel-ratio: 3), 
    (min-resolution: 288dpi){
        background-image:   url(~"@{folder_images}/navy-flags/shadow@3.png?@{file_flags_shadow_revision}");
    }
}
