.improvement{
	display:	inline-block;
	position:	relative;

	@color_disabled:	rgba(255, 255, 255, .35);
	@color_accent:		hsl(100, 100%, 75%);

	&>strong, &>font, &>span{
		display:	block;
		position:	relative;
	}

	&>strong{
		font-family:@font_famliy_Song;
		font-size:	18px;
		height:		32px;
		line-height:32px;
		vertical-align:	top;
		font-weight:lighter;
		&>em{
			position:	relative;
			display:	inline-block;
			padding-left:36px;
			height:		32px;
			background:	no-repeat 0 50%;
			vertical-align:	top;
			font-style: normal;
            text-shadow:0 1px 0 #000;
			.transition-property(color);
			small{
				padding:	.25em;
			}
			&:hover{
				color:		@color_accent;
			}
		}
		&>b{
			padding:		0 .1em 0 .25em;
			font-weight:	normal;
			color:			hsl(100,100%,65%);
		}
		&>i{
			font-size:		14px;
			color:			hsl(150, 54%, 65%);
			font-style:		normal;
            padding-bottom:	.25em;
            padding-left:	.25em;
			&:before{
				font-size:	18px;
				content:	'★';
			}
		}
	}

	&>font, &>span{
		padding-left:	36px;
		font-size:		14px;
		line-height:	22px;
	}

	&>font{
		margin-top:		-4px;
		margin-bottom:	4px;
		&.no{
			color:		@color_disabled;
		}
		&>span{
			.transition-property(color);
			&:hover{
				color:		@color_accent;
			}
		}
	}

	&>span{
		font-weight:	lighter;
		em, i{
			font-style:	normal;
			display:	inline-block;
		}
		&>em{
			color:		@color_disabled;
			width:		80px;
		}
	}
}
