#layout>main>.page[page="about"]{
	//background:	hsla(199, 30%, 18%, .65);
	background:	hsla(0, 20%, 18%, .65);
	h1, h2, h3, h4, h5, h6{
		//color:	hsl(0, 100%, 73%);
		color:		hsl(0, 100%, 76%);
		small{
			font-family:@font_family_sans;
			font-weight:lighter;
		}
	}
	h3 ~ h3{
		margin-top:	1.5em;
	}
	ul{
		&>strong{
			font-size:	larger;
			font-weight:lighter;
		}
	}
}